<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<h1>Смена пароля завершена</h1>
<p>Новый пароль сохранен, теперь вы можете войти в свойю учетную запись на <a href="{% url 'signin' %}">странице входа</a>.</p>
{% endblock %}