<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}

{% block doctitle %}Новый пароль{% endblock %}

{% block content %}
<h1>Введите новый пароль</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Сменить мой пароль">
</form>
{% endblock %}