<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block doctitle %}Забыли пароль?{% endblock %}

{% block content %}
  <h1>Забыли пароль?</h1>
  <p>Введите ваш адрес электронной почты, и мы отправим вам иструкции для смены вашего пароля на новый</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Отправить письмо с инструкциями">
  </form>
</div>
{% endblock %}