<!-- templates/registration/password_reset_done.html -->
{% extends 'base.html' %}

{% block doctitle %}Письмо отправлено{% endblock %}

{% block content %}
  <h1>Проверьте вашу почту</h1>
  <p>Мы отправили вам инструкции для смены вашего пароля.</p>
{% endblock %}