{% extends "passapp/base.html" %}

{% block doctitle %}
Профиль {{user.first_name}} {{user.last_name}}
{% endblock doctitle %}

{% block content %}
<h3>Ваш аккаунт</h3>
<div>
    {{user.first_name}} {{user.last_name}}
    <br>
    {{user.username}}
    <br>
    {{user.email}}
    <br>
    {{role}}
</div>
<a href="{% url 'passchange' %}">Сменить пароль</a>

{% endblock content %}