{% extends "base.html" %}

{% block sidebar %}
<div class="text-center">
        {% load staticfiles %}
        <img src="{% static "img/logo.png" %}" width="70" height="70">
    {% if user.is_authenticated %}
        <h4>Здравствуйте, {{ user.first_name }} ({{user}})</h4>
        <a href="{% url 'accdetails' %}">Аккаунт</a>
    {% else %}
        <h4>Здравствуйте, гость</h4>
    {% endif %}
</div>
    <div class="list-group">
            <span class="text-uppercase">Панель</span>
        <a href="{% url 'signup' %}" class="list-group-item" >Регистрация</a>
        <a href="{% url 'home' %}" class="list-group-item">Главная</a>
        <a href="{% url 'management' %}" class="list-group-item">Управление</a>
        <a href="{% url 'queue' %}" class="list-group-item">Согласование</a>
        <a href="{% url 'req_list' %}" class="list-group-item"> Список ваших заявок</a>
        <a href="{% url 'typepick' %}" class="list-group-item">Новая заявка</a>
        {% if user.is_authenticated %}
        <a href="{% url 'signout' %}" class="btn btn-red">Выйти</a>
        {% else %}
        <a href="{% url 'signin' %}" class="btn btn-red">Войти</a>
        {% endif %}
    </div>
{% endblock sidebar %}
<div id="content">
{% block content %}{% endblock content %}
</div>