{% extends "passapp/base.html" %}

{% block doctitle %}
Смена пароля
{% endblock doctitle %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сменить пароль</button>
    <a href="{{ returnlink }}"> Отмена </a>
</form>

{% endblock content %}

