{% extends "passapp/base.html" %}
{% block doctitle %}Система заказа пропусков{% endblock doctitle %}
{% block content %}
    <h2>Добро пожаловать в систему заказа пропусков!</h2>
    <br>
    <br>
    <p>
    Данная система является модельной и использование ее в реальных условиях крайне не рекомендуется!
    </p>
    <p>Написано на Python 3.6 и использует Django 2.0.</p>
{% endblock content %}