{% extends "passapp/base.html" %}

{% block doctitle %}Управление системой{% endblock doctitle %}

{% block content %}
<h2>Роли</h2>
<br>
<a href="{% url 'newrole' %}"class='btn btn-red'>Добавить роль</a>
<br>
<br>
<br>
{% if role_list %}
    {% for role in role_list %}
    <a href="{% url 'roleedit' role.id %}" class="list-group-item">{{ role }}</a>
    {% endfor %}
{% else %}
    <p>No roles in the system</p>
{% endif %}

{% endblock content %}