{% extends "passapp/base.html" %}

{% block doctitle %}Управление системой{% endblock doctitle %}

{% block content %}
<h2>Управление</h2>
<br>
<br>
<br>
<div class="list-group">
    <a href="{% url 'rolelist' %}" class="list-group-item">Роли в системе</a>
    <a href="{% url 'pathlist' %}" class="list-group-item">Маршруты заявок</a>
</div>

{% endblock content %}