{% extends "passapp/base.html" %}

{% block doctitle %}
Новый запрос
{% endblock doctitle %}

{% block content %}
<div class="col-lg-offset-2 col-lg-8">
    <div class="panel">
        <div class="panel-heading bg-ruby">
                <h4 class="panel-title text-center text-white">
                    Новый запрос
                </h4>
        </div>
        <div class="panel-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-red">Создать запрос</button>
            <a href="{{ returnlink }}"> Отмена </a>
        </form>
    </div>
    </div>
</div>



{% endblock content %}