{% extends "passapp/base.html" %}

{% block doctitle %}
Список заявок
{% endblock doctitle %}

{% block content %}
<a href="{% url 'newpath' %}" class="btn btn-red">Новый маршрут</a>
<br>
<br>
<table style="width:100%">
    <tr>
        <th>Название маршрута</th>
        <th>Тип пропуска</th>
        <th>Описание</th>
        <th></th>
    </tr>
    {% for path in paths %}
    <tr>
        <td>{{ path.name }}</td>
        <td>{{ path.passtype }}</td>
        <td>{{ path.description }}</td>
        <td><a href="{% url 'pdetails' path.id %}">Подробности</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}