{% extends "passapp/base.html" %}

{% block doctitle %}
Новый запрос
{% endblock doctitle %}

{% block content %}
<div class="col-lg-offset-2 col-lg-8">
        <div class="panel">
            <div class="panel-heading bg-ruby">
                    <h4 class="panel-title text-center text-white">
                        Новый маршрут
                    </h4>
            </div>
            <div class="panel-body">
                    {% if pathinfo %}
                    <h3>Маршрут {{ pathinfo.name }}</h3>
                    {% else %}
                    <h3>Новый маршрут</h3>
                    <br>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        {% if pathinfo %}
                        <p>Название: {{pathinfo.name}}</p>
                        <p>Описание: {{pathinfo.description}}</p>
                        <p>Тип: {{pathinfo.passtype}}</p> 
                        {% else %}
                        {{ wpform.as_p }}
                        {% endif %}
                        {{ form.as_p }}
                        <button type="submit" name="save">Сохранить</button>
                        {% if pathinfo %}
                        <button type="submit" name="delete">Удалить маршрут</button>
                        <a href="{% url 'pdetails' pathinfo.id %}">Отмена</a>
                        {% else %}
                        <a href="{% url 'pathlist'%}">Отмена</a>
                        {% endif %}
                    </form>
        </div>
    </div>

{% endblock content %}

