{% extends "passapp/base.html" %}

{% block doctitle %}
Список заявок
{% endblock doctitle %}

{% block content %}

<h3>{{ path.name }}</h3>
<p>{{ path.description }}</p>
<a href="{% url 'pedit' path.id %}">Изменить данные маршрута</a>
<table style="width:100%">
    <tr>
        <th>Номер стадии</th>
        <th>Ответственная роль</th>
        <th></th>
    </tr>
    {% for waypoint in waypoints %}
    <tr>
        <td>{{waypoint.position}}</td>
        <td>{{waypoint.current_role}}</td>
        <td>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="waypoint_id" value={{waypoint.id}}>
            {% if waypoint.position == 777 or waypoint.position == 666 %}
            <button disabled="disabled">Удалить</button>
            {% else %}
            <button type="submit" name="deletewaypoint">Удалить</button>
            {% endif %}
        </form>
        </td>
    </tr>
    {% endfor %}
</table>
<hr>
<form method="post" >
    {% csrf_token %}
    {{wpform.as_p}}
    <button type="submit" name="newwaypoint">Добавить стадию</button>

</form>

{% endblock content %}