{% extends "passapp/base.html" %} 
{% block doctitle %} Список заявок {% endblock doctitle %} 
{% block content %}


<div class="col-lg-offset-2 col-lg-8">
    <div class="panel">
        <div class="panel-heading bg-ruby">
            <h4 class="panel-title text-center text-white">
                Заявка №{{req_data.id}}
            </h4>
        </div>
        <div class="panel-body">
            <table>
                <tr>
                    <td>Подавший заявку:</td>
                    <td>{{req_data.creator.first_name}} {{req_data.creator.last_name}}</td>
                </tr>
                <tr>
                    <td>Маршрут:</td>
                    <td>{{req_data.path}}</td>
                </tr>
                <tr>
                    <td>Дата подачи:</td>
                    <td>{{req_data.timestamp}}</td>
                </tr>
                <tr>
                    <td>Номер паспорта/автомобиля:</td>
                    <td>{{req_data.reg_number}}</td>
                </tr>
                <tr>
                    <td>Имя получателя пропуска:</td>
                    <td>{{req_data.recipients_name}}</td>
                </tr>
                <tr>
                    <td>Дата начала работы пропуска:</td>
                    <td>{{req_data.start_date}}</td>
                </tr>
                <tr>
                    <td>Дата истечения пропуска:</td>
                    <td>{{req_data.exp_date}}</td>
                </tr>
                <tr>
                    <td>Состояние заявки:</td>
                    <td>
                        {% if req_data.active %} Активна {% else %} Не активна {% endif %}
                    </td>
                </tr>
            </table>
            <a href="{% url 'req_edit' req_data.id %}">Редактировать данные</a>
            <hr>
            <table>
                <tr>
                    <th>Позиция</th>
                    <th>Роль</th>
                    <th>Статус</th>
                </tr>
                {% for req_status in req_statuses %}
                <tr>
                    <td>{{req_status.location.position}}</td>
                    <td>{{req_status.location.current_role}}</td>
                    {% if req_status.needsreview %}
                    <td>Ожидает согласования </td>
                    {% else %}
                    <td>Согласовано</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            <br>
            <form method="post" enctype="multipart/form-data">
                {{ form }} {% csrf_token %} {% if userrole.role.role_name == 'pass_bureau' %}
                <button type="submit" , name="Finish" class="btn btn-red">Завершить</button>
                {% else %}
                <button type="submit" , name="Approve" class="btn btn-red">Одобряю</button>
                <button type="submit" name="Deny" class="btn">Не одобряю</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}