{% extends "passapp/base.html" %}
{% block doctitle %} Изменение данных запроса {% endblock  %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"> Сохранить </button>
        <a href="{% url 'req_details' req.id %}">Отмена</a>
    </form>
{% endblock content %}
