{% extends "passapp/base.html" %}

{% block doctitle %}
Очередь на согласование
{% endblock doctitle %}

{% block content %}
<h2>Очередь на согласование</h2>
<table>
    <tr>
        <td>Номер</td>
        <td>Пользователь подавший заявление</td>
        <td>Дата и время подачи</td>
        <td></td>
    </tr>
    {% for req in req_statuses %}
        <tr>
            <td>{{ req.data.id }}</td>
            <td>{{ req.data.creator.username }}  {{req.data.creator.first_name}} {{ req.data.creator.last_name }}</td>
            <td>{{ req.data.timestamp }}</td>
            <td><a href="{% url 'req_dis' req.data.id %}">Подробнее</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock content %}