{% extends "passapp/base.html" %}

{% block doctitle %}
Список заявок
{% endblock doctitle %}

{% block content %}
<h2>Список заявок</h2>
<table>
    <tr>
        <td>Номер</td>
        <td>Имя для пропуска</td>
        <td>Дата и время подачи</td>
        <td></td>
    </tr>
    {% for req in request_list %}
        <tr>
            <td>{{ req.id }}</td>
            <td>{{ req.recipients_name }}</td>
            <td>{{ req.timestamp }}</td>
            <td><a href="{% url 'req_details' req.id %}">Подробнее</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock content %}
