{% extends "passapp/base.html" %}

{% block doctitle %}
Новый запрос
{% endblock doctitle %}

{% block content %}
<div class="col-lg-offset-2 col-lg-8">
        <div class="panel">
          <div class="panel-heading bg-ruby">
            <h4 class="panel-title text-center text-white">
              Выберите тип пропуска
            </h4>
          </div>
          <div class="panel-body">
            <a href="{% url 'newreq' 'PE' %}" class="list-group-item">Постоянный на человека</a>
            <a href="{% url 'newreq' 'PC' %}" class="list-group-item">Постоянный на автомобиль</a>
            <a href="{% url 'newreq' 'TE' %}" class="list-group-item">Временный на человека</a>
            <a href="{% url 'newreq' 'TC' %}" class="list-group-item">Временный на автомобиль</a>
          </div>
        </div>
      </div>

{% endblock content %}
