{% extends "passapp/base.html" %}
{% block doctitle %} Новая роль {% endblock  %}
{% block content %}
    <div class="col-lg-offset-2 col-lg-8">
        <div class="panel">
            <div class="panel-heading bg-ruby">
                    <h4 class="panel-title text-center text-white">
                        Роль
                    </h4>
            </div>
            <div class="panel-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ roleform.as_p }}
                <button type="submit" class="btn btn-red">Сохранить</button>
            </form>
        </div>
        </div>
    </div>
{% endblock content %}
