{% extends "passapp/base.html" %}
{% block doctitle %} Регистрация {% endblock  %}
{% block content %}
<div class="col-lg-offset-2 col-lg-8">
        <div class="panel">
          <div class="panel-heading bg-ruby">
            <h4 class="panel-title text-center text-white">
              Регистрация
            </h4>
          </div>
          <div class="panel-body">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <table>
                      {{ form.as_table }}
              </table>
              <br>
              <button type="submit" class="btn btn-red">Зарегистрировать</button>
            </form>
          </div>
        </div>
      </div>
{% endblock content %}
