{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block doctitle %} Система заказа пропусков {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}"/>
    <script src="{% static 'js/bootstrap.min.css' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div id="sidebar" class="col-lg-2 col-md-2 col-sm-2 sidebar">
                {% block sidebar %}{% endblock sidebar %}
            </div>
            <hr>
        <hr>
        <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2 content">
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            {% block content %}{% endblock content %}
        </div>

        </div>
    </div>
</body>
</html>