{% extends "passapp/base.html" %}

{% block doctitle %}
Список заявок
{% endblock doctitle %}

{% block content %}
<hr>
<ul>
    <li>Подавший заявку: {{req_data.creator.first_name}} {{req_data.creator.last_name}}</li>
    <li>Маршрут: {{req_data.path}}</li>
    <li>Дата подачи: {{req_data.timestamp}}</li>
    <li>Номер паспорта/автомобиля: {{req_data.reg_number}}</li>
    <li>Имя получателя пропуска: {{req_data.recipients_name}}</li>
    <li>Дата начала работы пропуска: {{req_data.start_date}}</li>
    <li>Дата истечения пропуска: {{req_data.exp_date}}</li>
    <li>
        {% if req_data.active %}
        Состояние заявки: Активна
        {% else %}
        Состояние заявки: Не активна
        {% endif %}
    </li>
</ul>
<hr>
<ul>
    {% for req_status in req_statuses %}
        <li>{{req_status}}</li>
    {% endfor %}
</ul>
<form method="post">
    {{ form }}
    {% csrf_token %}
    {% if userrole.role.role_name == 'pass_bureau' %}
        <button type="submit", name="Finish">Завершить</button>
    {% else %}
        <button type="submit", name="Approve">Одобряю</button>
        <button type="submit" name="Deny">Не одобряю</button>
    {% endif %}

</form>

{% endblock content %}